<!-- Start About -->
<section class="about" id="about">
  <div class="row revers">
    <div class="content">
      <h3>Bể bơi sang trọng mát mẻ</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
        id maxime tempore veniam labore tenetur perferendis at, laudantium
        necessitatibus fugiat enim? Doloremque natus, maxime cum aliquam
        reiciendis quae esse est.
      </p>
      <a href="#reservation" class="btn">Đặt phòng</a>
    </div>
    <div class="image">
      <img src="../../../assets/images/Swimming Pool.jpg" alt="" />
    </div>
  </div>

  <div class="row">
    <div class="content">
      <h3>Nhân viên tận tâm chu đáo</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
        id maxime tempore veniam labore tenetur perferendis at, laudantium
        necessitatibus fugiat enim? Doloremque natus, maxime cum aliquam
        reiciendis quae esse est.
      </p>
      <a href="#reservation" class="btn">Đặt phòng</a>
    </div>
    <div class="image">
      <img src="../../../assets/images/PhucVu.jpg" alt="" />
    </div>
  </div>

  <div class="row revers">
    <div class="content">
      <h3>Món ăn ngon lành bổ dưỡng</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
        id maxime tempore veniam labore tenetur perferendis at, laudantium
        necessitatibus fugiat enim? Doloremque natus, maxime cum aliquam
        reiciendis quae esse est.
      </p>
      <a href="#reservation" class="btn">Đặt phòng</a>
    </div>
    <div class="image">
      <img src="../../../assets/images/Food.jpg" alt="" />
    </div>
  </div>
</section>
<!-- End About -->
