<!-- Start header -->
<section class="header">
  <div class="flex">
    <a routerLink="/TrangChu" class="logo">KHÁCH SẠN VÀ KHU NGHỈ DƯỠNG</a>
    <a routerLink="/KiemTraPhong" class="btn">Kiểm tra phòng</a>
    <div id="menu-btn" class="fas fa-bars"></div>
  </div>
  <nav class="navbar">
    <a routerLink="/TrangChu">Trang chủ</a>
    <a routerLink="/ChiTiet">Chi tiết</a>
    <a routerLink="/DatTruoc">Đặt trước</a>
    <a routerLink="/CanhQuan">Cảnh quan</a>
    <a routerLink="/LienHe">Liên hệ</a>
    <a routerLink="/DanhGia">Đánh giá</a>
    <a routerLink="/PhongDaDat">Phòng bạn đặt</a>
  </nav>
</section>
<!-- End header -->
