<!-- Triển lãm -->
<section class="gallery" id="gallery">
  <div class="swiper gallery-slider">
    <div class="swiper-wrapper">
      <img
        src="../../../assets/images/TrienLam1.jpg"
        class="swiper-slide"
        alt=""
      />
      <img
        src="../../../assets/images/TrienLam3.jpg"
        class="swiper-slide"
        alt=""
      />
      <img
        src="../../../assets/images/TrienLam4.jpg"
        class="swiper-slide"
        alt=""
      />
      <img
        src="../../../assets/images/TrienLam2.jpg"
        class="swiper-slide"
        alt=""
      />
      <img
        src="../../../assets/images/TrienLam5.jpg"
        class="swiper-slide"
        alt=""
      />
      <img
        src="../../../assets/images/TrienLam6.jpg"
        class="swiper-slide"
        alt=""
      />
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
<!--End Triển lãm -->
