<!-- Start Kiểm tra phòng -->
<section class="availability" id="availability">
  <form action="" method="post">
    <div class="flex">
      <div class="box">
        <p>Nhận phòng <span>*</span></p>
        <input type="date" name="check_in" class="input" required />
      </div>
      <div class="box">
        <p>Trả phòng <span>*</span></p>
        <input type="date" name="check_out" class="input" required />
      </div>
      <div class="box">
        <p>Số lượng người lớn <span>*</span></p>
        <select name="adults" class="input" required>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </div>
      <div class="box">
        <p>Số lượng trẻ em<span>*</span></p>
        <select name="childs" class="input" required>
          <option value="-">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </div>
      <div class="box">
        <p>Số phòng<span>*</span></p>
        <select name="rooms" class="input" required>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </div>
    </div>
    <input type="submit" value="Kiểm tra phòng" name="check" class="btn" />
  </form>
</section>
<!-- End Kiểm tra phong -->
