<!-- Icon dich vụ -->
<section class="services">
  <div class="box-container">
    <div class="box">
      <img src="../../../assets/images/icon-1.png" alt="" />
      <h3>Đồ ăn & thức uống</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, sunt?
      </p>
    </div>

    <div class="box">
      <img src="../../../assets/images/icon-2.png" alt="" />
      <h3>Bữa ăn ngoài trời</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, sunt?
      </p>
    </div>

    <div class="box">
      <img src="../../../assets/images/icon-3.png" alt="" />
      <h3>Ngắm biển</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, sunt?
      </p>
    </div>

    <div class="box">
      <img src="../../../assets/images/icon-4.png" alt="" />
      <h3>Trang trí</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, sunt?
      </p>
    </div>

    <div class="box">
      <img src="../../../assets/images/icon-5.png" alt="" />
      <h3>Bể bơi</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, sunt?
      </p>
    </div>

    <div class="box">
      <img src="../../../assets/images/icon-6.png" alt="" />
      <h3>Khu nghỉ dưỡng cạnh biển</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, sunt?
      </p>
    </div>
  </div>
</section>
<!--End Icon dich vụ -->
