<!-- Đánh giá -->
<div class="reviews" id="reviews">
  <div class="swiper reviews-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide box">
        <img src="../../../assets/images/Review1.jpg" alt="" />
        <h3>Yasuo</h3>
        Tôi rất hài lòng với dịch vụ của bạn! Từ lúc đặt phòng cho đến khi trả
        phòng, mọi thứ đều rất suôn sẻ. Đội ngũ nhân viên của bạn rất thân thiện
        và nhiệt tình. Phòng ngủ rộng rãi và tiện nghi, đáp ứng đầy đủ nhu cầu
        của tôi. Tôi rất thích ẩm thực của nhà hàng, các món ăn rất ngon và đa
        dạng. Tôi sẽ chắc chắn quay lại đây khi có cơ hội.
      </div>

      <div class="swiper-slide box">
        <img src="../../../assets/images/Review3.jpg" alt="" />
        <h3>Galio</h3>
        Tôi muốn gửi lời cảm ơn đến đội ngũ khách sạn của bạn vì đã mang lại cho
        tôi một kỳ nghỉ tuyệt vời. Phòng ngủ của tôi rất đẹp và sạch sẽ, các
        tiện nghi đều hoạt động tốt. Đặc biệt, tôi rất thích bể bơi của khách
        sạn, nơi đó là nơi tuyệt vời để thư giãn và tận hưởng. Tôi cũng rất cảm
        kích sự tận tâm của nhân viên phục vụ, họ luôn sẵn sàng giúp đỡ và giải
        đáp mọi thắc mắc của tôi.
      </div>

      <div class="swiper-slide box">
        <img src="../../../assets/images/Review2.jpg" alt="" />
        <h3>Ahri</h3>
        Tôi đã có một trải nghiệm đáng nhớ tại khách sạn của bạn. Đội ngũ nhân
        viên của bạn rất chuyên nghiệp và hữu ích, luôn sẵn sàng đáp ứng mọi yêu
        cầu của tôi. Phòng ngủ rất sạch sẽ và tiện nghi, tôi thực sự thích không
        gian sống và phòng tắm. Các hoạt động giải trí và ẩm thực tại khách sạn
        đều rất tuyệt vời, tôi đã có một kỳ nghỉ thật sự thư giãn và vui vẻ. Tôi
        sẽ khuyên bạn bè và gia đình của tôi đến đây khi có cơ hội.
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
<!--End Đánh giá -->
